@import "tailwindcss";

@import "./styles/token.css";
@import "./styles/utilities.css";

/* ======================================================
   Global Reset
====================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text-primary);
  overflow-x: hidden;
  transition:
    background var(--transition-normal) var(--ease),
    color var(--transition-normal) var(--ease);
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

::selection {
  background: var(--color-primary);
  color: #fff;
}
